## Setup py requirements
jsonpickle==1.2
six==1.12
redis==3.2.1
fakeredis==1.0.3
future==0.17.1
numpy==1.16.4
ruamel.yaml==0.15.100
requests==2.22.0
tensorflow==1.13.2
h5py==2.9.0
apscheduler==3.6.1
tqdm==4.32.2
ConfigArgParse==0.14.0
networkx==2.3
pykwalify==1.7.0
coloredlogs==10.0
flask==1.1.1
flask_cors==3.0.8
scikit-learn==0.20.3
colorhash==1.0.2
pika==1.0.1
jsonschema==2.6.0
packaging~=19.0
gevent==1.4
pytz==2019.1
rasa==1.1.8
pymongo==3.8.0
python-dateutil==2.8.0
rasa-sdk==1.1.0
spacy==2.1.6
sklearn_crfsuite==0.3.6
keras-applications==1.0.8
keras-preprocessing==1.1.0
